

/* =================== Scss variables ============================== */
$headline-font:  'Alfa Slab One' , cursive;
$paragraph-font: 'Oxygen', sans-serif;
$bright-font-color: #fff0bf;
/* =================== End Scss variables ========================== */


/* ===================== Global attributes ========================== */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



p{
   font-family: $paragraph-font; 
}

a{
    color: black;
}

/* =================== End Global attributes ======================= */





/* =================== Header attributes =========================== */
    header{
        margin: 0;
        width: auto;
        min-height: 4rem;        
        background: url("../img/backgrounds/headerbg.jpg");
        background-repeat: no-repeat;
        background-size: inherit;

        #logo{
            font-size: 1rem;
            font-family: $headline-font; 
            margin-right: 3rem;
            margin-top: 0.5rem;                
        }       

        ul{         
            li{
                font-family:  $headline-font;
                font-size: 1.2rem;
                list-style-type: none;
                
            }          
        } 
    } 
    .drop-menu{
        display: none;
    
            i{
                display: none;
            }
            ul{
                display: none;
            }
        
    }  
/* =================== End Header attributes ======================= */


/* =================== Main attributes ============================= */
main{
    article{
        background-color:    rgba(20,18,20,0.3);       
        h2{
            color: $bright-font-color;
        }
        p{
            margin-left: 2rem;
            color: $bright-font-color;
        }
    }
}

aside{
    article{
        background-color:    rgba(20,18,20,0.3);   
        h2{
            color: $bright-font-color;
        }
        p{
            margin-left: 1rem;
            color: $bright-font-color;
        }
    }
}

/* =================== Pages attributes ============================= */
#index{
    background: url("../img/backgrounds/ian-keefe-449093-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center;
    
}

#gallery{
    
    background-color: #D5D9DC;
    
    
}


#about{
    background: url("../img/backgrounds/tomasz-pawluk-548096-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

#contacts{
    background: url("../img/backgrounds/federico-bottos-674099-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

/* =================== End Pages attributes ========================= */



/* =================== Footer attributes =========================== */
footer{
    margin: 0;
    width: auto;
    background-color: rgba(20,18,20,0.5); 
    height: 1rem;
    font-size: 0.8rem;
    font-family: $paragraph-font;
    color: $bright-font-color;
    margin-top: 90%;
}

footer{
    a{
        img{
            height: 1rem;
            background-color: #fff0bf;
        }
    }
}
/* =================== End footer attributes ======================= */

/* =================== Media queries =============================== */

@media (max-width: 767px){
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    body{   
        width: 100%;
        padding: 0;
        margin: 0;
    }

    header{  

        min-height: 3rem;
        #logo{
            float:right;            
            h2{        
                text-align: right;
                font-size: 1.3rem;
                font-family: $headline-font;
                margin-top: 0.7rem; 
            }
        }        
  
    }      
    
    .main-menu{
        display: none;
    }

    article{
            h2{
                font-size: 1rem;
            }
            p{
                font-size: 0.7rem;
            }
    }

   aside{
       display: none;
   }

   footer{
       p{
         font-size: 0.6rem;
       }
   }
   .drop-menu{
        display: block;
        li{
            margin-top: 0.4rem;
        }    
    }

    #my-dropdown{
        display: none;
    }

    .show{
        display: block!important;
    }
    button{
        background: none;
        border:0;
        padding: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
}
/* =================== End Media queries ========================= */