

/* =================== Scss variables ============================== */
$headline-font:  'Alfa Slab One' , cursive;
$paragraph-font: 'Oxygen', sans-serif;
$bright-font-collor: #fff0bf;
/* =================== End Scss variables ========================== */


/* ===================== Global attributes ========================== */

body{   
    width: auto;
}

p{
   font-family: $paragraph-font; 
}

a{
    color: black;
}

/* =================== End Global attributes ======================= */





/* =================== Header attributes =========================== */
    header{
            ul{         
                li{
                    font-family:  $headline-font;
                    font-size: 1.2rem;
                    list-style-type: none;
                    
                }          
            } 
    } 
    
    header{
        margin: 0;
        width: auto;
        min-height: 4rem;        
        background: url("../img/backgrounds/headerbg.jpg");
        background-repeat: no-repeat;
        background-size: inherit;

    }
    
    header{
            #logo{
                    font-size: 1rem;
                    font-family: $headline-font; 
                    margin-right: 3rem;                
                }       
    }
/* =================== End Header attributes ======================= */


/* =================== Main attributes ============================= */
main{
    article{
        background-color:    rgba(20,18,20,0.3);       
        h2{
            color: $bright-font-collor;
        }
        p{
            margin-left: 2rem;
            color: $bright-font-collor;
        }
    }
}

aside{
    article{
        background-color:    rgba(20,18,20,0.3);   
        h2{
            color: $bright-font-collor;
        }
        p{
            margin-left: 1rem;
            color: $bright-font-collor;
        }
    }
}

/* =================== Pages attributes ============================= */
body#index{
    background: url("../img/backgrounds/ian-keefe-449093-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 5rem;
}

body#gallery{
    background: url("../img/backgrounds/tomasz-pawluk-548096-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 5rem;
}


body#about{
    background: url("../img/backgrounds/sweet-ice-cream-photography-88265-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 5rem;
}

body#contacts{
    background: url("../img/backgrounds/federico-bottos-674099-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 5rem;
}

/* =================== End Pages attributes ========================= */



/* =================== Footer attributes =========================== */
footer{
    margin: 0;
    width: auto;
    background-color: rgba(20,18,20,0.5); 
    height: 1rem;
    font-size: 0.8rem;
    font-family: $paragraph-font;
    color: $bright-font-collor;
    margin-top: 90%;
}

footer{
    a{
        img{
            height: 1rem;
            background-color: #fff0bf;
        }
    }
}
/* =================== End footer attributes ======================= */

/* =================== Media queries =============================== */
@media (max-width: 767px){
    header{
        ul{ 
            li{
                a{
                display: inline-block;
                font-family:  $headline-font;
                font-size: 0.8rem;
                list-style-type: none; 
                width: 10%;             
                }
                
            }          
        } 
    } 

    header{
        margin: 0;
        width: auto;
        min-height: 2rem;        
        background: url("../img/backgrounds/headerbg.jpg");
        background-repeat: no-repeat;
        background-size: inherit;

    }

    header{
            #logo{
                width: 20%;
                text-align: right;
                font-size: 1rem;
                font-family: $headline-font; 
                margin-right: 4rem;
                
                                
            }       
    }

    article{
            h2{
                font-size: 1rem;
            }
            p{
                font-size: 0.7rem;
            }
    }

   aside{
       display: none;
   }
}
/* =================== End Media queries ========================= */