/* =================== Scss variables ============================== */
/* =================== End Scss variables ========================== */
/* ===================== Global attributes ========================== */
body {
  width: auto; }

p {
  font-family: "Oxygen", sans-serif; }

a {
  color: black; }

/* =================== End Global attributes ======================= */
/* =================== Header attributes =========================== */
header ul li {
  font-family: "Alfa Slab One", cursive;
  font-size: 1.2rem;
  list-style-type: none; }

#index header {
  margin: 0;
  width: auto;
  min-height: 4rem;
  background: url("./img/backgrounds/headerbg.jpg");
  background-repeat: no-repeat;
  background-size: inherit; }

header {
  margin: 0;
  width: auto;
  min-height: 4rem;
  background: url("../img/backgrounds/headerbg.jpg");
  background-repeat: no-repeat;
  background-size: inherit; }

header #logo {
  font-family: "Alfa Slab One", cursive; }

/* =================== End Header attributes ======================= */
/* =================== Main attributes ============================= */
main article {
  background-color: rgba(20, 18, 20, 0.3); }
  main article h2 {
    color: #fff0bf; }
  main article p {
    margin-left: 2rem;
    color: #fff0bf; }

aside article {
  background-color: rgba(20, 18, 20, 0.3); }
  aside article h2 {
    color: #fff0bf; }
  aside article p {
    margin-left: 1rem;
    color: #fff0bf; }

/* =================== Pages attributes ============================= */
body#index {
  background: url("../img/backgrounds/ian-keefe-449093-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 5rem; }

body#gallery {
  background: url("../img/backgrounds/tomasz-pawluk-548096-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 5rem; }

body#services {
  background: url("../img/backgrounds/sweet-ice-cream-photography-88265-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 5rem; }

body#about {
  background: url("../img/backgrounds/robert-ostheimer-42091-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 5rem; }

body#contacts {
  background: url("../img/backgrounds/federico-bottos-674099-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 5rem; }

/* =================== End Pages attributes ========================= */
/* =================== Footer attributes =========================== */
footer {
  margin: 0;
  width: auto;
  background-color: rgba(20, 18, 20, 0.5);
  height: 1rem;
  font-size: 0.8rem;
  font-family: "Oxygen", sans-serif;
  color: #fff0bf;
  margin-top: 90%; }

footer a img {
  height: 1rem;
  background-color: #fff0bf; }

/* =================== End footer attributes ======================= */
